{% extends 'sahamapp/layout.html' %}
{% load static %}
{% block body %}
<div class="services-container">
    <h1>Booked services:</h1>
    <div class="service-wrapper">
        {% for service in services %}
    <div class="service-el">
        <h2>{{service.freelancer.name}}</h2>
        <h3>{{service.name}}</h3>
        <h6>{{service.price}} SAR</h6>
        <div class="btn-container">
            <a href="{% url 'sahamapp:showService' username service.serviceId  %}"><button class="btn" type="button">Details</button></a>
            
        </div>
       

    </div>
    {%endfor%}
    </div>

</div>

{% endblock %}