{% extends 'sahamapp/layout.html' %}
{% load static %}
{% block body %}
<div class="login-container">
    <h1 class="heading">Login</h1>
    <form class="form-el" id="LoginForm" novalidate action="{%url 'sahamapp:loginFL'%}" method="post">
        {% csrf_token %}
        <input placeholder="E-mail" type="email" name="email" id="email" required>
        <input placeholder="Password" type="password" name="password" id="password" required>
        <div class="btn-container">
            <button class="btn" type="submit">Login</button>
            <a href="{% url 'sahamapp:registerFL'%}"><button class="btn" type="button" >Create Account</button></a> 
        </div>
        <a href="{% url 'sahamapp:index' %}" class="btn-detailsservice">
            <button class="btn btn-bookservice" type="button">Back to Main Menu</button>
        </a>
    </form>
    {% if error %}
        <script>addEventListener("DOMContentLoaded", (event) => {alert("Email/Password incorrect")});</script>
    {% endif %}
    {% if registrationComplete %}
    <script>addEventListener("DOMContentLoaded", (event) => {alert("Registration Complete, Please Log in")})</script>
    {% endif %}
</div>

{% endblock %}